*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.xmi
*.tree
*.version
*.project
*.orig
*.snap
*.resources
*.fdt
*.fdx
*.fnm
*.gitignore
*.index
*.json
*.xml
*.log
*.history
*.setup
*.properties
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.lock
*.zip
*.frq
*.nrm
*.tii
*.tis
*.gen
*.prx
*.dat
*.ini
*.classpath
*.txt
*.mark
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/
.recommenders/
.gitignore
